body {
    margin: 240px 0 0;
    padding: 0 40px;
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main{
    max-width: 1024px;
    margin: 0 auto;
}

a {
    color: #000;
    text-decoration-line: underline;
}

h1 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 140%;
    color: #000;
    letter-spacing: -1px;
}

h2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin-bottom: 16px;
}

p {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #666;
}

.name-twitter {
    display: flex;
    margin-bottom: 20px;
}

.twitter {
    vertical-align: middle;
}

a:hover > .twitter {
    fill:#1da1f2;
}

.twitter-link {
    transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;
 }   

.twitter-link:hover {
    transform: scale(1.5);
 }

.name {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #666;
    margin-right: 24px;
}

.menu {
    margin-top: 100px;
    display: flex;
}

.menu-link {
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #666;
}

.menu-link a {
    font-size: 18px;
    text-decoration: none;
    color: #666;
}

.menu-link a:hover {
    text-decoration: none;
    padding-bottom: 8px;
    color: #000;
}

.menu-link-active {
    margin-right: 30px;
    font-size: 18px;
    color: #666;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 3px solid #000;
    color: #000;
}

.menu-link-active a{
    font-size: 18px;
    color: #666;
    text-decoration: none;
    padding-bottom: 8px;
    color: #000;
}

/* ########## CASES ########## */

.cases{
    margin-top: 200px;
}

.case {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
}

.info {
    width: 310px;
    margin-right: 114px;
    
}

.thumbnail {
    --width: 100%;
    width: var(--width);
    height: 400px;
    background-color: beige;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** ########## ABOUT ########## **/

/* .title-list{
    margin-top: 80px;
} */

.title-list li {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
    color: #666;

}

/** ########## ABOUT ########## **/

.about {
    margin-top: 100px;
    display: grid;
    grid-template: "about career" auto "side-projects career" auto "articles career" auto "engagements career" auto / 650px 244px;
    gap: 80px 130px; 
}

.about-info {
    grid-area: about;
}

.about-text {
    margin-top: 40px;
}

.about-text p + p {
    margin-top: 16px;
}

.career {
    display: flex;
    margin-bottom: 16px;
}

.career-list {
    grid-area: career;
}

.side-projects {
    grid-area: side-projects;
}

.articles {
    grid-area: articles;
}

.engagements {
    grid-area: engagements;
}

.career-year {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #999;
    margin-right: 24px;
}

.career-company {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #000;
}

.title-list li {

}

/* ##### RESPONSIVO ##### */

@media (min-width:600px) {
    h1 {
        width: 554px;
    }
}

@media (max-width: 1105px) {
    .about {
        grid-template: "about" auto "career" auto "side-projects " auto "articles" auto "engagements" auto / minmax(0, 650px);
    }

    .thumbnail {
        width: 100%;
    }

    .info {
        width: 100%;
        margin: 0 0 40px 0;
    }
}